<!doctype html>
<html>
	<head>
		{% load static %}
		<meta charset="utf-8">
		<title>{{ project_name }}</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">

		<!-- include css -->
		<link rel="stylesheet" type="text/css" href="{% static 'build/gh_issues.prod.css' %}" />
	</head>
	<body>
		<div id='root'></div>
		<script src="{% static 'build/gh_issues.react-compiled.js' %}"></script>
		<script src="{% static 'build/runtime.react-compiled.js' %}"></script>
		<script src="{% static 'build/vendor.react-compiled.js' %}"></script>
	</body>
</html>